<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/nav.ejs')%>

            <div class="about content">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi vero tempore sit at ducimus, aliquid illo dignissimos dolor quisquam accusantium molestiae odit officiis est eum, quo dolores beatae modi! Aspernatur!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi vero tempore sit at ducimus, aliquid illo dignissimos dolor quisquam accusantium molestiae odit officiis est eum, quo dolores beatae modi! Aspernatur!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi vero tempore sit at ducimus, aliquid illo dignissimos dolor quisquam accusantium molestiae odit officiis est eum, quo dolores beatae modi! Aspernatur!</p>
            </div>

            <%- include('./partials/footer.ejs')%>
    </body>

</html>